.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 15vh;
    padding: 0 15vw;
    animation: lazy 0.75s ease-out; 

    @keyframes lazy {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
        margin-top: 8vh;
        padding: 0 10vw;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: 8vh;
        padding: 0 5vw;
    }

    @media (min-width: 600px) and (max-width: 767px) {
        margin-top: 5vh;
        padding: 0 5vw;
    }

    @media (max-width: 599px) {
        margin-top: 5vh;
        padding: 0 5vw;
    }

    &__greeting {
        font-size: 4.5rem;
        font-weight: 900;
        color: $color03;

        @media (min-width: 1024px) and (max-width: 1279px) {
            font-size: 3.25rem;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 2.75rem;
        }

        @media (min-width: 600px) and (max-width: 767px) {
            font-size: 2.75rem;
        }

        @media (max-width: 599px) {
            font-size: 2.75rem;
        }
    }

    & span:nth-child(2) {
        font-size: 2rem;
        font-weight: 700;

        @media (min-width: 1024px) and (max-width: 1279px) {
            font-size: 1.75rem;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.75rem;
        }

        @media (min-width: 600px) and (max-width: 767px) {
            font-size: 1.5rem;
            font-weight: 500;
        }

        @media (max-width: 599px) {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    & hr {
        width: 5%;
        border: 3px solid $color03;
        border-radius: 50px;
    }

    & span:nth-child(4) {
        font-size: 1.75rem;
        font-weight: 300;

        @media (min-width: 1024px) and (max-width: 1279px) {
            font-size: 1.5rem;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.5rem;
        }

        @media (min-width: 600px) and (max-width: 767px) {
            font-size: 1.25rem;
        }

        @media (max-width: 599px) {
            font-size: 1.25rem;
        }
    }
        
    &__telegram {
        margin-top: 1rem;
        font-size: 3.25rem;
        color: #24A1DE;
        transition: 0.2s;
        text-decoration: none;
        
        &:hover {
            opacity: 0.75;
        }
        
        &:active {
            transform: scale(0.95);
        }

        @media (min-width: 600px) and (max-width: 767px) {
            font-size: 2.5rem;
        }

        @media (max-width: 599px) {
            font-size: 2.5rem;
        }
    }
}